.App {
  margin: 0 auto;
  padding-bottom: 75px;
}

footer {
  color: rgb(167, 153, 183);
  font-weight: bolder;
  font-family: "Marvel", sans-serif;
  font-size: 18px;
}

a {
  color: rgb(167, 153, 183);
}
