.App {
  margin: 0 auto;
  padding-bottom: 75px;
}

footer {
  color: #e1e5ea;
  font-weight: bolder;
  font-family: "Marvel", sans-serif;
  font-size: 18px;
  margin-top: -22px;
}

a {
  color: #e1e5ea;
  text-decoration: none;
}

a:hover {
  color: #134a71;
}
