.Dictionary {
  margin: 0 auto;
}

section {
  background: #fdfdfd;
  padding: 22px;
  border-radius: 2px;
  box-shadow: 0 6px 8px rgb(0 0 0 / 18%);
  margin: 22px 0px;
}

.Dictionary h1 {
  padding: 12px 0px;
  color: rgb(167, 153, 183);
  font-size: 52px;
  font-family: "Marvel", sans-serif;
}

.Searchbar {
  text-align: right;
  padding: 22px 2px 0px 0px;
}

input {
  width: 82%;
  height: 36px;
  padding: 2px 8px;
  font-size: 16px;
}

p {
  font-size: 14px;
  padding: 2px;
  font-family: "Oranienbaum", serif;
}
