h3 {
  font-size: 30px;
  text-transform: capitalize;
  font-family: "Marvel", sans-serif;
}

.Meaning p {
  font-size: 17px;
  margin-bottom: 2px;
  margin-top: -2px;
  margin-left: 8px;
  font-family: "Marvel", sans-serif;
}
