h3 {
  font-size: 26px;
  text-transform: capitalize;
  font-family: "Marvel", sans-serif;
}

.Meaning p {
  font-size: 16px;
  margin-bottom: 1px;
  margin-top: 2px;
  font-family: "Marvel", sans-serif;
}
