.Results {
  margin: 0 auto;
  padding: 8px 0px;
}

.Results .word {
  text-align: center;
}

.Results .word h2 {
  text-transform: capitalize;
  font-size: 52px;
  font-family: "Marvel", sans-serif;
}
