.Synonyms {
  padding: 2px 2px;
}

.Synonyms li {
  display: inline-block;
  padding-right: 12px;
  text-transform: capitalize;
  font-size: 16px;
  font-family: "Gruppo", cursive;
  font-weight: 600;
}
